* {
    box-sizing: border-box;
    margin: 0;
}
.header-b-1 {
    text-align: center;
    margin-bottom: -45px;
}

.header-b-1 h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: 500;
    color: #012785;
}
.header-b-1 h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color: #00a0df;
}
.card-b-1{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.card-b-1 h5{
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #012785;
    font-weight: 600;
}
.card-b-1 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6b727d;
    font-weight: 500;
}
.card-b-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}
 
.cards-b-1 {
    padding: 5%;
    margin: 1%;
 
}

.header-b-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    gap: 10px;
}
.header-b-2 button {
    font-size: 20px;
    border-radius: 2px solid #141516;
    background: #012785;;
    border-radius: 25px;
    width: 280px;
    height: 60px;
}
.header-b-2 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: 500;
    color: #012785;
}
.header-b-2 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6b727d;
    font-weight: 500;
    font-size: larger;
}

.header-b-3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    gap: 14px;
}

.header-b-3 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6b727d;
    font-weight: 500;
    font-size: larger;
}
.header-b-3 p span {
   font-weight: 700;
   color: black;
}
.header-b-3 button {
    font-size: 20px;
    border-radius: 2px solid #141516;
    background: #012785;;
    border-radius: 25px;
    width: 180px;
    height: 60px;
}